.w{
	width: 1200px;
	/* height: 100%; */
	/* background: skyblue; */
	margin: 0 auto;
}
/* 头部开始 */
.header .nav{
	height: 80px;
	/* background: pink; */
}
.header .logo{
	float: left;
	margin-left: 66px;
}
.header .logo a{
	display: block;
	width: 180px;
	height: 80px;
	background: url(../img/首页_02.png) no-repeat center;
	text-indent: -9999px;
	text-align: center;
	
}
.header .subnav{
	float: right;
	margin-right: 60px;
}
.header .subnav .subnav-menu{
	float: left;
	height: 80px;
	margin-left: 80px;
}
.header .subnav-menu .subnav-pull{
	width: 64px;
	height: 72px;
	color: pink;
	position: absolute;
	top: 54px;
	z-index: 110;
	background-color: #fff;
	line-height: 33px;
	text-align: center;
	display: none;
}
.header .subnav-menu:hover .subnav-pull{
	display: block;
}
.header .subnav-menu .subnav-list{
	display: block;
	height: 100%;
	line-height: 80px;
	font-size: 16px;
	color: #666;
	position: relative;
}
.header .subnav-menu .subnav-list.active{
	color: #1d1d1d;
}
.header .subnav-menu .subnav-list:hover{
	color: #1d1d1d;
}
.header .subnav-menu .subnav-list:hover .subnav-line{
	display: block;
}
.header .subnav-menu .subnav-line.active{
	display: block;
	height: 2px;
	width: 100%;
	background: #b9ab77;
	position: absolute;
	bottom: 28px;
}
.header .subnav-menu .subnav-line{
	display: none;
	height: 2px;
	width: 100%;
	background: #b9ab77;
	position: absolute;
	bottom: 28px;
}
/* 头部结束 */
/* banner开始 */
.banner .banner-bg{
	display: block;
	background: url(../img/设计师banner.png) no-repeat center;
	width: 100%;
	height: 270px;
}
.banner .banner-bg:hover{
	background: url(../img/图层%201.png) no-repeat center;
}
/* banner结束 */
/* designers开始 */
.designers .designers-name{
	margin-top: 100px;
	margin-bottom: 60px;
	text-align: center;
	line-height: 30px;
}
.designers .designers-name-c{
	font-size: 26px;
	color: #444;
}
.designers .designers-name-e{
	font-size: 16px;
	color: #c1c1c1;
}
.designers .designers-box{
	width: 300px;
	height: 742px;
	/* background: skyblue; */
	float: left;
	margin-right: 150px;
	border-bottom: 1px solid #b9ab77;
}
.designers .designers-box.designers-box-3{
	margin-right: 0;
}
.designers .designers-box-img{
	background-image: url(../img/1480563576690%20400×532.png);
	display: block;
	width: 300px;
	height: 450px;
}
.designers .designers-box-img.designers-box-img-2{
	background-image: url(../img/1480563656556%20400×580.png);
}
.designers .designers-box-img.designers-box-img-3{
	background-image: url(../img/14805635157%20400×532.png);
}
.designers .designers-box-name{
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 30px;
	text-align: center;
}
.designers .name-name{
	font-size: 18px;
	color: #2e2e2e;
	margin-bottom: 20px;
}
.designers .name-tag{
	font-size: 14px;
	color: #c4c4c4;
}
.designers .designers-box-int .designers-box-int-list{
	font-size: 14px;
	color: #c4c4c4;
	line-height: 22px;
}
.designers .more-list{
	border: 1px solid #b9ab77;
	width: 148px;
	height: 43px;
	text-align: center;
	line-height: 43px;
	margin: 0 auto;
	margin-top: 45px;
	border-bottom: 1px solid #b9ab77;

}
.designers .more-list .more-btn{
	color: #b9ab77;
	font-size: 12px;
	display: block;
	width: 100%;
	height: 100%;
}


/* 底部开始 */
.footer-box{
	width: 100%;
	height: 100px;
	background-color: #4d4d4d;
}
.footer{
	height: 100px;
	line-height: 26px;
	margin-top: 86px;
}
.footer .copyright{
	float: left;
	margin-top: 30px;
}

.footer .copyright .copyright-num,
.footer .copyright .copyright-b{
	color: #d0d0d0;
	font-size: 12px;
}
.joinus{
	float: right;
	/* margin-top: 20px; */
}
.joinus .joinus-icon{
	background: url(../img/11112323.png);
	width: 10px;
	height: 10px;
	position: absolute;
	top: 8px;
	left: -12px;
}
.joinus .joinus-list{
	margin-top: 30px;
	position: relative;
}
.joinus .joinus-f{
	float: left;
	font-size: 12px;
	color: #d0d0d0;
}
.footer .joinus .joinus-d{
	margin-right: 68px;
}
.footer .joinus .joinus-2018{
	font-size: 12px;
	color: #d0d0d0;
}
.footer .joinus .call-us{
	color: #d0d0d0;
}
 .footer .joinus .joinus-call{
	 margin-right: 60px;
 }
 /* 底部结束 */










